<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <!-- <a class="nav-link" href="display">Display Component ||</a> -->
        <a class="nav-link" routerLink="list-users">list users ||</a>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="display">Display Component ||</a> -->
        <a class="nav-link" routerLink="list-products-http">Product Component New ||</a>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="display">Display Component ||</a> -->
        <a class="nav-link" routerLink="login-user" *ngIf="!retrieverIsUserLoggedIn()">Login user Component New ||</a>
      </li>

      <li class="nav-item">
        <!-- <a class="nav-link" href="display">Display Component ||</a> -->
        <a class="nav-link" routerLink="logout-user" *ngIf="retrieverIsUserLoggedIn()">Log out ||</a>
      </li>

      <li class="nav-item">
        <!-- <a class="nav-link" href="display">Display Component ||</a> -->
        <a class="nav-link" routerLink="list-products-http" *ngIf="retrieverIsUserLoggedIn()">Product Component After
          Logging in ||</a>
      </li>


    </ul>

    <ul class="navbar-nav justify-content-end">
      <li class="nav-item" *ngIf="isShopping()">
        <!-- <a class="nav-link" href="display">Display Component ||</a> -->
        <button class="btn btn-primary"> <span class="material-symbols-outlined">
          shopping_cart_checkout
          </span> {{getLengthOfCart()}} </button>
      </li>
    </ul>


  </div>
</nav>