<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <div class="align-items-start">
        <li class="nav-item">
          <!-- <a class="nav-link" href="display">Display Component ||</a> -->
          <a class="nav-link" routerLink="">
            <span class="material-symbols-outlined">
              support
            </span></a>
        </li>
      </div>

      <li class="nav-item">
        <!-- <a class="nav-link" href="display">Display Component ||</a> -->
        <a class="nav-link" routerLink="">Umbrella Cart</a>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="display">Display Component ||</a> -->
        <a class="nav-link" routerLink="login-user" *ngIf="!retrieverIsUserLoggedIn()">Login</a>
      </li>

      <li class="nav-item">
        <!-- <a class="nav-link" href="display">Display Component ||</a> -->
        <a class="nav-link" routerLink="logout-user" *ngIf="retrieverIsUserLoggedIn()">Log out ||</a>
      </li>

      <li class="nav-item">
        <!-- <a class="nav-link" href="display">Display Component ||</a> -->
          <button class="btn text-white" (click)="goToProfile()" *ngIf="retrieverIsUserLoggedIn() && isCustomerOrAdmin()">Go to profile</button>
      </li>

    </ul>

    <ul class="navbar-nav justify-content-end">
      <li class="nav-item" *ngIf="isShopping()"><span *ngIf="isCheckingOut()">Click to go back  </span>
        <span *ngIf="!isCheckingOut()">Click to check out  </span>
        <!-- <a class="nav-link" href="display">Display Component ||</a> -->
        <button class="btn btn-primary" (click)="toggleCheckOut()"> <span class="material-symbols-outlined">
            shopping_cart_checkout
          </span> {{getLengthOfCart()}} </button>
      </li>
    </ul>


  </div>
</nav>