
<h1 class="text-center text-white ml-1 mr-1"> Hello! Welcome to...</h1>

<div class="container ml-1 mr-1">
    <div class="row justify-content-center">
        <div class="col-4">

            <img class="img-fluid" src="https://w7.pngwing.com/pngs/484/820/png-transparent-umbrella-corps-umbrella-corporation-logo-corporation-s-umbrella-triangle-logo-thumbnail.png"
                alt="umbrella cart!" srcset="">
        </div>
    </div>
    <div class="row mt-5 p-0">
        <h2 class="text-center text-white">UMBRELLA CART</h2>
    </div>
</div>

<div class="container ml-1 mr-1">
    <div class="row justify-content-center">
        <div class="col-2"></div>
        <div class="col-2 d-grid">
            <button class="btn btn-danger" (click)="shopAsGuest()">Shop as a Guest!</button>
        </div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2 d-grid">
            <button type="button" class="btn btn-danger" (click)="login()">Login!</button>
        </div>
        <div class="col-2"></div>
        
    </div>
  
</div>

<div class="container ml-1 mr-1 mt-5">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="h3 text-white text-center">Don't have an account?</div>
        </div>
    </div>
  
</div>

<div class="container ml-1 mr-1 mt-5">
    <div class="row justify-content-center">
        <div class="col-2 d-grid">
            <button class="btn btn-danger" (click)="register()">Register!</button>
        </div>
    </div>
  
</div>

<!-- <div class="container">
    <div class="row justify-content-end">
        <div class="col-2 bg-primary">2</div>
        <div class="col-4 bg-info">4</div>
        <div class="col-2 bg-primary">2</div>
        <div class="col-2 bg-info">2</div>
    </div>

</div> -->