<div class="container mt-5">

    <div class="row" *ngIf="!isCheckingOut()">
        <div *ngFor="let eachProduct of allProducts" class="card col-4 m-2" style="width: 18rem;">
            <img class="card-img-top" src={{eachProduct.productImg}} alt="Card image cap" width="250px" height="250px">
            <div class="card-body">
                <h5 class="card-title">{{eachProduct.productName}}</h5>
                <h4 class="h4">{{eachProduct.productCost | currency : 'USD'}}</h4>
                <p class="card-text">{{eachProduct.productDesc}}</p>
                <div class="container">
                    <div class="row">
                        <div class="col-sm col-1 m-1 p-0 text-center">
                            <button type="button" class="btn btn-danger"
                                (click)="decreaseAmountOfItemInCart(eachProduct.productID,1)">-</button>
                        </div>
                        <div class="col-sm col-4 m-1 p-0">
                            <p class="text-center">{{getAmountOfProductInCart(eachProduct.productID)}}</p>
                        </div>
                        <div class="col-sm col-1 m-1 p-0 text-center">
                            <button type="button" class="btn btn-primary"
                                (click)="increaseAmountOfItemInCart(eachProduct.productID,1)">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div *ngIf="isCheckingOut()">
        <div class="row justify-content-center">
            <div class="col-8">
                <table class="table table-hover table-sm text-white">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Cost</th>
                            <th scope="col">Subtract</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Add</th>
                            <th scope="col">Total Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let eachCart of allCartItems">
                            <td>{{ getProductName(eachCart.productID) }}</td>
                            <td>{{ getProductCost(eachCart.productID)}}</td>
                            <td>
                                <div class="text-start">
                                    <button type="button" class="btn btn-danger"
                                        (click)="decreaseAmountOfItemInCart(eachCart.productID,1)">-</button>
                                </div>
                            </td>
                            <td>{{eachCart.quantity}}</td>
                            <td>
                                <div class="text-start">
                                    <button type="button" class="btn btn-primary"
                                        (click)="increaseAmountOfItemInCart(eachCart.productID,1)">+</button>
                                </div>
                            </td>
                            <td>{{ getProductCost(eachCart.productID) * eachCart.quantity}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="h2 text-center text-white">Total is: {{getTotalCost() | currency : 'USD'}}</div>
        <div class="text-center" *ngIf="!isCartEmpty()">
            <button class="btn btn-primary text-center" (click)="createPurchase()">Click here to comeplete purchase!!!</button>
        </div>
    </div>

</div>