<div class="container mt-5">

    <div class="row">
        <div *ngFor="let eachProduct of allProducts" class="card col-4 m-2" style="width: 18rem;">
            <img class="card-img-top" src={{eachProduct.productImg}} alt="Card image cap" width="250px" height="250px">
            <div class="card-body">
                <h5 class="card-title">{{eachProduct.productName}}</h5>
                <h4 class="h4">{{eachProduct.productCost | currency : 'USD'}}</h4>
                <p class="card-text">{{eachProduct.productDesc}}</p>
                <div class="container">
                    <div class="row justify-content-center justify-content-between">
                        <div class="col-sm col-1 m-1 p-0">
                            <button type="button" class="btn btn-primary"
                                (click)="getAmountOfProductInCart(eachProduct.productID)">click me!</button>
                        </div>
                        <div class="col-sm col-4 m-1 p-0">
                            <p class="text-center">{{getAmountOfProductInCart(eachProduct.productID)}}</p>
                        </div>
                        <div class="col-sm col-1 m-1 p-0">
                            <button type="button" class="btn btn-primary"
                                (click)="increaseAmountOfItemInCart(eachProduct.productID,1)">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>