<div class="container">

    <div *ngFor="let eachPurchase of allPurchases">
        <div class="row h2">
            <div>Total is {{eachPurchase.totalCost | currency : 'USD'}}</div>
        </div>

        <div class="row h2">
            <div>Purchase Date is {{eachPurchase.purchaseDate}}</div>
        
        </div>
        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quanity</th>
                    <th>Cost Per Item</th>

                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let eachItem of eachPurchase.shoppingCartItemPojos">
                    <td>{{getProductName(eachItem.productID)}}</td>
                    <td>{{eachItem.quantity}}</td>
                    <td>{{getProductCost(eachItem.productID)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>