<div class="container">

    <div *ngFor="let eachPurchase of allPurchases" class="text-white">
        <div class="row h2">
            <div>Total is {{eachPurchase.totalCost | currency : 'USD'}}</div>
        </div>

        <div class="row h2">
            <div>Purchase Date is {{eachPurchase.purchaseDate}}</div>
        
        </div>
        <table class="table table-striped text-white">

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quanity</th>
                    <th>Cost Per Item</th>

                </tr>
            </thead>

            <tbody class="text-white">
                <tr class="text-white" *ngFor="let eachItem of eachPurchase.shoppingCartItemPojos">
                    <td class="text-white">{{getProductName(eachItem.productID)}}</td>
                    <td class="text-white">{{eachItem.quantity}}</td>
                    <td class="text-white">{{getProductCost(eachItem.productID)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>