<div class="container">

    <div class="h1 text-white text-center">Purchase History</div>

    <div class="container" *ngIf="isCustomer()">
        <div class="mt-5">
            <div class="row justify-content-start">
                <div class="col-2 d-grid">
                    <button class="btn btn-danger" (click)="goToProfileMenu()">Back to Profile</button>
                </div>

            </div>
        </div>
    </div>

    <div class="container" *ngIf="!isCustomer()">
        <div class="mt-5">
            <div class="row justify-content-start">
                <div class="col-2 d-grid">
                    <button class="btn btn-danger" (click)="goToHomePage()">Back to Home Page</button>
                </div>

            </div>
        </div>
    </div>

    <div *ngFor="let eachPurchase of allPurchases" class="text-black mt-5 bg-danger rounded">
        <div class="row h2">
            <div>Total is: {{eachPurchase.totalCost | currency : 'USD'}}</div>
        </div>

        <div class="row h2">
            <div>Purchase Date is: {{eachPurchase.purchaseDate}}</div>

        </div>

        <div class="row h2">
            <div>Confirmation number is: {{eachPurchase.purchaseID}}</div>

        </div>
        <table class="table table-striped text-white">

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quanity</th>
                    <th>Cost Per Item</th>

                </tr>
            </thead>

            <tbody class="text-black">
                <tr class="text-black" *ngFor="let eachItem of eachPurchase.shoppingCartItemPojos">
                    <td class="text-black">{{getProductName(eachItem.productID)}}</td>
                    <td class="text-black">{{eachItem.quantity}}</td>
                    <td class="text-black">{{getProductCost(eachItem.productID) | currency : 'USD'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>