<div class="container mt-5">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div>
                <form [formGroup]="reactiveForm" (ngSubmit)="createUser()">
                    <div class="card mt-3">
                        <div class="card-title bg-success text-white">Register User</div>
                        <div class="card-body">


                            <div class="col">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input class="form-control" type="text" formControlName="username">
                                    <div class="text-danger small" *ngIf="f['username'].getError('required')!=null && f['username'].touched">Enter User Name</div>
                                    <div class="text-danger small" *ngIf="f['username'].getError('minlength')!=null && f['username'].touched">Needs to be at least 6 characters</div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input class="form-control" type="password" formControlName="password">
                                    <div class="text-danger small" *ngIf="f['password'].getError('required')!=null && f['password'].touched">Enter Password</div>
                                </div>
                            </div>



                            <div class="col">
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input class="form-control" type="password" formControlName="conpassword">
                                    <div class="text-danger small" *ngIf="f['conpassword'].getError('required')!=null && f['conpassword'].touched">Confirmed Password is required</div>
                                    <div class="text-danger small" *ngIf="f['conpassword'].getError('mustMatch')!=null && f['conpassword'].touched">Passwords need to match</div>
                                </div>
                            </div>





                        </div>
                        <div class="card-footer bg-success">
                            <button type="submit" class="btn btn-primary" [disabled]="!reactiveForm.valid">Submit</button>
                        </div>
                    </div>
                </form>
            </div>


        </div>

    </div>

</div>